# Creating, Altering, and Dropping a Table

## Defining the Database Schema
You can start by creating a database schema for an online movie rating system. The database will consist of three tables:

1. movies contains general information about movies and has the following attributes:
- id
- title
- release_year
- genre
- collection_in_mil
2. reviewers contains information about people who posted reviews or ratings and has the following attributes:
- id
- first_name
- last_name
3. ratings contains information about ratings that have been posted and has the following attributes:
- movie_id (foreign key)
- reviewer_id (foreign key)
- rating

### Overview of schema

![schema](schema.webp)

## Creating Tables Using the CREATE TABLE Statement

The SQL of it:
```
CREATE TABLE movies(
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(100),
    release_year YEAR(4),
    genre VARCHAR(100),
    collection_in_mil INT
);
```

If youâ€™ve looked at SQL statements before, then most of the above query might make sense. But there are some differences in the MySQL syntax that you should be aware of.

For example, MySQL has a wide variety of data types for your perusal, including YEAR, INT, BIGINT, and so on. Also, MySQL uses the AUTO_INCREMENT keyword when a column value has to be incremented automatically on the insertion of new records.

To create a new table, you need to pass this query to cursor.execute(), which accepts a MySQL query and executes the query on the connected MySQL database:

In [1]:
# Setup connection

from mysql.connector import connect, Error
import os
from dotenv import load_dotenv
load_dotenv()

server = os.getenv("mySQL_SERVER_NAME") # mySQL_SERVER_NAME
database = os.getenv("mySQL_DATABASE") # mySQL_DATABASE
username = os.getenv("mySQL_USER_NAME") # mySQL_USER_NAME
myPassword = os.getenv("mySQL_PASSWORD") # mySQL_PASSWORD

In [ ]:
try:
    with connect(
        host=server,
        user=username,
        password=myPassword,
    ) as connection:
        # Inject the SQL
        create_movies_table_query = """
        CREATE TABLE movies(
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(100),
            release_year YEAR(4),
            genre VARCHAR(100),
            collection_in_mil INT
        )
        """
        with connection.cursor() as cursor:
            cursor.execute(create_movies_table_query)
            connection.commit()
except Error as e:
    print(e)